$headerFont: 'Raleway', sans-serif;
$bodyFont: 'Open Sans', sans-serif;

@mixin utilities {
    width: 100%;
    padding: 0.6rem;
    border-radius: 5px;
    font-family: $headerFont;
    // font-size: 1rem;
    font-weight: 400;
    color: $desaturatedBlue;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}
